{% extends 'base.html' %} {% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Reset your password</h4>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {{ form }}<button type="submit" class="btn btn-primary btn-block">
        Reset
      </button>
      <a href="{% url 'login' %}"
        ><button type="button" class="btn btn-secondary btn-block">
          Back to Home
        </button></a
      >
    </form>
  </div>
</div>
{% endblock %}
