{% extends "base.html" %} {% load static %}

<!-- prettier-ignore -->
{% block title %} Edit Task {% endblock title %}

{% block content %}
<div class="container">
  <div class="text-center text-light my-4">
    <form action="" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="updatebtn">Update</button>
    </form>
    <a href="{% url 'task-details' task.id %}"
      ><button type="button" class="homebtn">Back to Task</button></a
    >
  </div>
</div>
{% endblock content %}
