{% extends 'base.html' %} {% block title %}Tasks List{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<div class="container">
  <div class="tr-job-posted section-padding">
    <div class="container">
      <div class="job-tab text-center">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li role="presentation" class="active">
            <a
              class="active show"
              href="#hot-jobs"
              aria-controls="hot-jobs"
              role="tab"
              data-toggle="tab"
              aria-selected="true"
              >Short-Time</a
            >
          </li>
          <li role="presentation">
            <a
              href="#recent-jobs"
              aria-controls="recent-jobs"
              role="tab"
              data-toggle="tab"
              class=""
              aria-selected="false"
              >Mid-Time</a
            >
          </li>
          <li role="presentation">
            <a
              href="#popular-jobs"
              aria-controls="popular-jobs"
              role="tab"
              data-toggle="tab"
              class=""
              aria-selected="false"
              >Long-Time</a
            >
          </li>
        </ul>
        <div class="tab-content text-left">
          <div role="tabpanel" class="tab-pane fade active show" id="hot-jobs">
            <div class="todo-list">
              <!-- prettier-ignore -->
              {% for todo in todo_list %}
              {% if todo.duration_lvl.id == 1 %}
              <div class="row">
                <div class="col-md-6 col-lg-12">
                  <div class="job-item">
                    <div class="item-overlay">
                      <div class="job-info">
                        <a
                          href="{% url 'task-edit' todo.pk %}"
                          class="btn btn-primary"
                        >
                          Edit</a
                        >
                        <span class="tr-title">
                          <a
                            href="{% url 'task-details' todo.pk %}"
                            class="btn btn-primary"
                            >{{todo.task}}</a
                          >
                        </span>
                        <ul class="tr-list job-meta">
                          {% if todo.comment %}
                          <li>
                            <i class="fa fa-pen" aria-hidden="true"></i
                            >{{todo.comment|linebreaks}}
                          </li>
                          {% endif %}
                          <li>
                            <i aria-hidden="true"></i>Updated:
                            {{todo.updated_at}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="job-info">
                      <span class="tr-title">
                        <a href="#">{{todo.task}}</a>
                      </span>
                      <ul class="tr-list job-meta">
                        <li>
                          <span
                            ><i
                              class="fa fa-calendar"
                              aria-hidden="true"
                            ></i></span
                          >{{todo.deadline}}
                        </li>
                        <li>
                          <span>
                            <i
                              class="fa fa-hourglass-half"
                              aria-hidden="true"
                            ></i></span
                          >{{todo.deadline|timeuntil}}
                        </li>
                      </ul>
                      <div class="time">
                        <a href="#">
                          {% if todo.status.id == 1 %}
                          <span>{{todo.status}}</span>
                          {% elif todo.status.id == 2 %}
                          <span class="part-time">{{todo.status}}</span>
                          {% elif todo.status.id == 3 %}
                          <span class="full-time">{{todo.status}}</span>
                          {% elif todo.status.id == 4 %}
                          <span class="freelance">{{todo.status}}</span>
                          {% endif %}
                        </a>
                        <span class="pull-right"
                          >Posted {{todo.created_at}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          <!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
            <div class="todo-list">
              <!-- prettier-ignore -->
              {% for todo in todo_list %} {% if todo.duration_lvl.id == 2 %}
              <div class="row">
                <div class="col-md-6 col-lg-12">
                  <div class="job-item">
                    <div class="item-overlay">
                      <div class="job-info">
                        <a
                          href="{% url 'task-edit' todo.pk %}"
                          class="btn btn-primary"
                          >Edit</a
                        >
                        <span class="tr-title">
                          <a
                            href="{% url 'task-details' todo.pk %}"
                            class="btn btn-primary"
                            >{{todo.task}}</a
                          >
                        </span>
                        <ul class="tr-list job-meta">
                          {% if todo.comment %}
                          <li>
                            <i class="fa fa-pen" aria-hidden="true"></i
                            >{{todo.comment|linebreaks}}
                          </li>
                          {% endif %}
                          <li>
                            <i aria-hidden="true"></i>Updated:
                            {{todo.updated_at}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="job-info">
                      <span class="tr-title">
                        <a href="#">{{todo.task}}</a>
                      </span>
                      <ul class="tr-list job-meta">
                        <li>
                          <span
                            ><i
                              class="fa fa-calendar"
                              aria-hidden="true"
                            ></i></span
                          >{{todo.deadline}}
                        </li>
                      </ul>
                      <div class="time">
                        <a href="#">
                          {% if todo.status.id == 1 %}
                          <span>{{todo.status}}</span>
                          {% elif todo.status.id == 2 %}
                          <span class="part-time">{{todo.status}}</span>
                          {% elif todo.status.id == 3 %}
                          <span class="full-time">{{todo.status}}</span>
                          {% elif todo.status.id == 4 %}
                          <span class="freelance">{{todo.status}}</span>
                          {% endif %}
                        </a>
                        <span class="pull-right"
                          >Posted {{todo.created_at}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          <!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane fade in" id="popular-jobs">
            <div class="todo-list">
              <!-- prettier-ignore -->
              {% for todo in todo_list %} {% if todo.duration_lvl.id == 3 %}
              <div class="row">
                <div class="col-md-6 col-lg-12">
                  <div class="job-item">
                    <div class="item-overlay">
                      <div class="job-info">
                        <a
                          href="{% url 'task-edit' todo.pk %}"
                          class="btn btn-primary"
                          >Edit</a
                        >
                        <span class="tr-title">
                          <a
                            href="{% url 'task-details' todo.pk %}"
                            class="btn btn-primary"
                            >{{todo.task}}</a
                          >
                        </span>
                        <ul class="tr-list job-meta">
                          {% if todo.comment %}
                          <li>
                            <i class="fa fa-pen" aria-hidden="true"></i
                            >{{todo.comment|linebreaks}}
                          </li>
                          {% endif %}
                          <li>
                            <i aria-hidden="true"></i>Updated:
                            {{todo.updated_at}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="job-info">
                      <span class="tr-title">
                        <a href="#">{{todo.task}}</a>
                      </span>
                      <ul class="tr-list job-meta">
                        <li>
                          <span
                            ><i
                              class="fa fa-calendar"
                              aria-hidden="true"
                            ></i></span
                          >{{todo.deadline}}
                        </li>
                      </ul>
                      <div class="time">
                        <a href="#">
                          {% if todo.status.id == 1 %}
                          <span>{{todo.status}}</span>
                          {% elif todo.status.id == 2 %}
                          <span class="part-time">{{todo.status}}</span>
                          {% elif todo.status.id == 3 %}
                          <span class="full-time">{{todo.status}}</span>
                          {% elif todo.status.id == 4 %}
                          <span class="freelance">{{todo.status}}</span>
                          {% endif %}
                        </a>
                        <span class="pull-right"
                          >Posted {{todo.created_at}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
            <!-- /.tab-pane -->

            <!-- /.job-tab -->
          </div>
          <!-- /.container -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
