{% extends 'base.html' %} {% block title %}Tasks List{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<div class="container">
  Hello {{user.username}}
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
  </form>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-white">
        <div class="card-body">
          <form action="javascript:void(0);">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control add-task"
                placeholder="New Task..."
              />
              <a href="{% url 'add-todo' %}">
                <button class="btn btn-primary" type="button">
                  Add New ToDo
                </button></a
              >
            </div>
          </form>
          <ul class="nav nav-pills todo-nav">
            <li role="presentation" class="nav-item all-task active">
              <a href="#" class="nav-link">All</a>
            </li>
            <li role="presentation" class="nav-item active-task">
              <a href="#" class="nav-link">Active</a>
            </li>
            <li role="presentation" class="nav-item completed-task">
              <a href="#" class="nav-link">Completed</a>
            </li>
          </ul>
          <div class="todo-list">
            {% for todo in todo_list %}

            <div
              class="todo-item list-group-item d-flex justify-content-between"
            >
              <div class="checker">
                <span class=""><input type="checkbox" /></span>
              </div>
              <a href="{% url 'task-details' todo.pk %}">
                <span>{{todo.task}};</span>
                <span>{{todo.duration_lvl.id}};</span>
                <span>{{todo.deadline}}</span></a
              >
              <a href="javascript:void(0);" class="float-right remove-todo-item"
                ><i class="icon-close"></i
              ></a>
              <div class="btn-group">
                <button class="btn btn-danger btn-sm delete-btn">
                  &#x2715;
                </button>
                <button class="btn btn-primary btn-sm edit-btn">&#9998;</button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
